@import url(http://fonts.googleapis.com/css?family=Economica);
@@import url(http://fonts.googleapis.com/css?family=Belleza);

body { font-family: Helvetica, Roboto, Arial; }
a, a:visited, a:hover, h1,h2,h3,h4,h5 {color: #5394E9}
a.btn-danger, a.btn-warning, a.btn-success {color:white}
h1,h2,h3,h4,h5 { font-family: Helvetica, Roboto, Arial; text-position:center;}

h2 {font-size:3em;}
h1 {font-size:5em;}
img {border-image-width:10px;}

#header {
    margin-top: 40px;
}
.btn-180 {
    width: 180px;
}
.page-header {
    border-bottom: 0;
}

#navigation .navlinks {
  list-style: none;
}
#navigation .navlinks li {
  display: inline-block;
  margin-right: 5px;
}
#navigation .navlinks li a {
  display: block;
  float: left;
  padding: 0 12px;
  line-height: 55px;
  font-weight: bold;
  color: #777;
}
#navigation .navlinks li a:hover {
  text-decoration: none;
  color: #444;
  background: #fcfcfc;
}
