<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Лучшая на свете юбка "Зимнее солнце"</title>

  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" media="all" href="../static/css/jupe.css">

  <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap-responsive.min.css">



  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" charset="utf-8" src="../static/js/bootstrap.min.js"></script>
</head>



 <body bgcolor="#8b0000">

    <nav id="navigation">
      <div class="container">
        <ul class="navlinks">
          <li><a href="index.html">Homepage</a></li>
          <li><a href="index.html">About Us</a></li>
          <li><a href="#buynow">Заказать</a></li>
          <li><a href="#delivery">Доставка</a></li>
          <li><a href="index.html">Contacts</a></li>
        </ul>
      </div>
    </nav>
    
    <header id="heading">
        <img src="{{=URL('static/images', 'yubki-text.jpg')}}" class="img-responsive"></img>
      <div class="container text-center ">


      	
      </div>

    </header>

    <br>


   <div id="main-content">
      <div class="container">
         <div class="row">
           <div class="col-sm-8">
			 <!-- слева -->	
             <h2></h2>
             
           </div>
   
           <div class="col-sm-4">
           	 <!-- справа -->	
             <h2></h2>
             
           </div>
   
           <div class="text-center">

           </div>
         </div>
<div>
<h2>Что такое зимняя юбка для улицы?
</h2>

    Это продолжение вашей куртки, шубы или полупальто! Фактически, это тоже полупальто – только не верхняя его часть, а… нижняя. Идея, которая давно висела в воздухе, и вот теперь осуществилась, благодаря инновационной разработке от российско-шведского бренда SKADI DESIGN GROUP, продвигающего философию "умного" дизайна».
<h2>Как ее носят?</h2>
Покупая юбку для улицы модели «Зимнее солнце», вы приобретаете фактически верхнюю одежду – действительно, логическое продолжение для вашей зимней куртки. Эту юбку можно надевать прямо поверх одежды, в которой вы ходите в помещении.  Просто для тепла. Впрочем, красоту тоже никто не отменял!
<h2>Нужно ли снимать ее в помещении?</h2>
Никаких жестких правил! Можно снимать, а можно и не снимать – зависит от ситуации. В любом случае, этот момент всегда можно скорректировать: юбка на липучке, надевается и снимается одним движением. Вы просто удобно запахиваете ее на талии!
<br>
    <button type="button" class="btn btn-danger btn-lg center-block">Заказать сейчас</button>


</div>


<div class="row">
    <div class="col-sm-6 col-xs-12">
        <a href="#" class="thumbnail">
             <img src="{{=URL('static/images', 'yubki4.jpg')}}" class="img-responsive">
        </a>
    </div>
     <div class="col-sm-6 col-xs-12">
        <a href="#" class="thumbnail">
             <img src="{{=URL('static/images', 'yubki1.png')}}" class="img-responsive">
        </a>
    </div>

</div>

<h2>5 «вечных» зимних проблем</h2> <h4>которые можно решить всего за 3500 рублей:</h4>

<ul>
<li>
Хочется поехать на работу в короткой юбке, а на улице мороз. Значит, либо застудить придатки/заработать цистит - либо опять надевать эти дурацкие рейтузы, а потом торопливо снимать их в кабинке туалета.
</li>
<li>
О'кей, одеваешься по погоде, приезжаешь в офис в длинной и страшно теплой юбке, а там батареи жарят во всю дурь, и уже к обеду ты ловишь себя на мысли, что сейчас снимешь с себя эту чертову юбку и будешь сидеть за компом в одних колготках.
</li>
<li>
Хочется явиться на вечеринку в красивом платье, а новая модная куртка - короткая, и если из-под нее будет выглядывать платье, это будет смотреться, мягко говоря, не очень. Да и холодно.
<li>
Хочется покататься на коньках, а в чем идти на открытый каток – непонятно. В обычной юбке – холодно, в джинсах – жмет и «ласточку» толком не сделаешь, в длинной куртке – не гламурненько как-то.
<li>
Не хочется носить всю зиму теплое длинное универсальное пальто, хочется быть разной – но где же взять столько денег?
</li>
</ul>


          <h3>Теперь выход есть! Инновационная юбка для улицы «Зимнее солнце» </h3>
    <button type="button" class="btn btn-danger btn-lg center-block">Заказать сейчас</button>


          <br>










<h3>Уже купили и носят:</h3>

  <div class="well">Даша К., студентка Британской Академии дизайна в Москве: «Я выбрала модель «Зимнее солнце» - ту, что подлиннее (кнопка "Заказать сейчас"). Ношу на обе стороны – черную и голубую. Под низ поддеваю еще леггинсы. Оставляю в гардеробе вместе с курткой или складываю в упаковочную сумочку и беру в рюкзачке с собой. Очень удобная вещь, вся группа накупила их следом за мной». 
</div>

  <div class="well">
    Алина С., менеджер: «Меня очень выручает юбка «Офис-леди» (кнопка "Заказать сейчас"). Люблю носить мини, мама всегда ругалась и заставляла надевать шерстяные рейтузы. Теперь утепляюсь инновационно. Прихожу в офис и спокойно снимаю». 

  </div>

  <div class="well">Аня Б., продавец-консультант: Купила юбку «Зимнее солнце», длинную (кнопка "Заказать сейчас"), надела ее на нарядное шелковое платьице, поехали с мужем на свадьбу к его другу. Три часа шлялись по морозу, фотографировались на всех смотровых площадках и мостах. Приходим в кафе, и вдруг я в гардеробе начинаю… снимать юбку! Муж чуть в обморок не упал. Потом разобрались, смеялись долго. А невеста друга сказала: «Эх, знала бы раньше, не мерзла бы весь день в тонком свадебном платье и меховой накидке до пупа». Хорошее изобретение, что правда, то правда»). 
  </div>

  <div class="well">Саша К., тренер по фигурному катанию: «У меня вся группа катается в юбках «Зимнее солнце» (кнопка "Заказать сейчас"). Тех, которые короткий вариант, разлетайка. Покупали сразу на всех, по льготной оптовой цене. Я считаю, для катка – это идеально. Черные теплые леггинсы поддеваем обязательно, а иногда под них еще и плотные шорты. И носить можно на разные стороны, в зависимости от настроения. У меня черная с белым – я в ней еще и Снегурочкой на Новый год подрабатываю». 
  </div>

  <div class="well">Полина И., экскурсовод: «Я купила себе сразу две юбки – широкую и узкую. Одна - черно-серая до колен, «Офис-леди» (кнопка "Заказать сейчас"), другая – длинный вариант «Зимнее солнце» (кнопка "Заказать сейчас"). В итоге имею как бы 4 юбки – и все теплые. Ношу в самых разных сочетаниях – и по цвету, и по степени утепленности. Для меня это важно, так как работаю на свежем воздухе. В самые холодные дни надеваю даже под длинное пальто, а если погода позволяет, то можно и пофорсить с приталенной курточкой. Особенно элегантно получается «солнце» на черную сторону с черным же верхом. И черная вязаная шляпа с полями. Выглядит а ля 19-й век, про который я и рассказываю». 
  </div>

  <div class="well">Надежда Ц., врач-педиатр: «Мне кажется, в скором времени юбка для улицы станет обычным предметом гардероба. По-моему, она должна быть у каждой женщины, проживающей в климате с холодной зимой и довольно-таки грязной осенью. Отлично спасает от холода и ветра, а если запачкается брызгами, можно просто на другую сторону перевернyть, а потом, уже дома, протереть влажной губкой. В общем, полезная вещь, однозначно. Мне еще и фигуру поддерживать помогает. Хочется как-то постройнее быть, чтоб поясу на талии было что подчеркивать». 
  </div>

  <div class="well">
          <img src="{{=URL('static', '11539207_1609690515986739_3201991431290805799_o.jpg')}}" class="img-responsive"></div>

    <h4><a name="buynow">Заказать сейчас</a></h4> <h4>Описание шагов по заказу:</h4>



<!--текст про заказ  -->
<ul>
  <li>выбери юбку</li>
  <li>поставь галочки в форме заказа</li>
  <li> укажи адрес для доставки</li>
  <li> жди СМСку или электронное письмо об отправке посылки в течение 2 недель.</li>
  <li>Получи на почте рядом с домом.</li>
</ul>
<br>
<!-- Форма заказа -->

   <h2>Форма заказа</h2> Юбка. Места, где ставить галочки (размер один из двух, цвет один из трех), Сумочка за доп. плату – да или нет. Оформить (присваивается номер заказа и и примерный срок поставки. Поставь галочку "Я принимаю условия" Всплывающее окошко с фразой: «С этим товаром обычно заказывают…» + фотка сумочки с подписью: "Сумочка для хранения юбки"


   <h2>Доставка и оплата</h2> Доставка 300 руб. в любой город России Оплата наложенным платежом при получении

    <h2>Гарантии</h2>У нас надежно и удобно Гарантируем качество

    Гарантируем отправку товара в течение 2 недель (за срывы сроков почтой мы не отвечаем, но вроде бы почта работает нормально в последнее время) Возвращаем деньги, если товар не понравился (пересылка за счет клиента) Заменяем товар (или возвращаем деньги) в случае брака (доставка за счет фирмы) Никакой предоплаты: покупка оплачивается при получении, а не до! 

    <h2>Сезонная акция:</h2> <h3>«Себе и подружкам»</h3> Купи две юбки и сэкономь на доставке 300 руб. или получи в подарок сумочку для хранения - Фотка с со стрелочками – себе, Маше Купи три юбки и получи скидку 600 руб. - Фотка с со стрелочками – себе, Маше Ане Купи пять юбок и получи оптовую цену 2700 руб. - Фотка с со стрелочками – себе, Маше, Ане, еще одной Ане, Даше

<!-- подвал -->
    Написать нам Форма для письма. Наш телефон Наш мейл Название нашего юрлица. 

<!-- ещё хвалебный текст-->
    Материалы и технологии Верх - качественная плащевая ткань Внутри - синтепон и спандбонд, чтоб синтепон не сыпался Подкладка – тоже плащевая ткань, т.к. юбка двухсторонняя Идеально ровная строчка Контроль качества на каждом этапе производства Ткани и фурнитура изготовлены в Южной Корее и Восточной Европе по современным технологиям Юбка не промокает, не мнется, не электризуется Легко стирается обычным порошком (выдерживает 500 стирок на деликатной стирке, при этом не теряет объем, благодаря слою спандбонда) Быстро сохнет Несложные пятна можно просто слегка потереть влажной тряпочкой
</div>

          <button type="button" class="btn btn-danger btn-lg center-block">Заказать сейчас</button>

<a class="button btn btn-primary btn-lg center-block" href="javascript:ajax('/admin/default/check_version',[],'check_version')"><span>Хочу!</span></a>




        </div><!-- @end .row -->


     
 </div>
	</body></html>